<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="logging.file.path" source="logging.file.path" defaultValue="./logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | ${springAppName} | %thread | %-5level | %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/${springAppName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${springAppName}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | ${springAppName} | %thread | %-5level | %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/${springAppName}-json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${springAppName}-json.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>userId</includeMdcKeyName>
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>clientIp</includeMdcKeyName>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>version</version>
                <logger>logger</logger>
                <thread>thread</thread>
                <level>level</level>
                <levelValue>levelValue</levelValue>
                <message>message</message>
                <mdc>mdc</mdc>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/${springAppName}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${springAppName}-error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Настройки для разных профилей -->
    <springProfile name="local, default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>

        <!-- Более детальное логирование для наших пакетов -->
        <logger name="com.coachkit.auth" level="DEBUG"/>
        <logger name="com.coachkit.auth.controller" level="DEBUG"/>
        <logger name="com.coachkit.auth.service" level="DEBUG"/>

        <!-- Подавляем лишние логи -->
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.springframework.cloud" level="INFO"/>
        <logger name="com.netflix" level="WARN"/>
        <logger name="org.apache" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.flywaydb" level="INFO"/>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>

        <logger name="com.coachkit.auth" level="DEBUG"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.springframework.cloud" level="INFO"/>
        <logger name="com.netflix" level="WARN"/>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="JSON"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>

        <logger name="com.coachkit.auth" level="INFO"/>
        <logger name="org.springframework.security" level="WARN"/>
        <logger name="org.springframework.cloud" level="WARN"/>
        <logger name="com.netflix" level="ERROR"/>
    </springProfile>

</configuration>